body {
  font-family: helvetica;
}
.bg {
  background-image: url("../images/the-flatiron-building.png");
  text-align: center;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
a {
  color: white;
  font-size: 18px;
}
#process {
  text-align: center
}
h2 {
font-size: 32px;
font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
  font-family: helvetica;
}
#white {
  color: white;
}
#ftr {
  font-size: 11px;
  color: white;
}
.footer {
  background-color: dimgray;
}
#bottom {
  text-align: center
}
